body {
    font-family: Arial, sans-serif;
    background-color: #ecf4f9; /* Light blue background */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

p { color:red;
    font-style:italic; }

form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 300px;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #b2d4f2; /* Light blue border */
    border-radius: 4px;
}

button {
    background-color: #4a90e2; /* Light blue button color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3669b5; /* Slightly darker blue on hover */
}





